<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

    <h1>Register</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <p><label for="email" class="form-label">Enter your email address</label>
            <input type="email" class="form-control" id="email" name="email" required></p>
            <p><label for="password" class="form-label">Enter your password</label>
            <input type="password" class="form-control" id="password" name="password" required></p>
            <p><label for="confirm_password" class="form-label">Re-enter your password</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required></p>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

    <!-- Show success or error messages -->
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

</body>
</html>
